
    <title>Ajouter un joueur</title>
        <div class="content">
            <h2>Ajouter un joueur</h2>
            <div class="player-info">
                <div class="player-details">
                    <div class="info"><strong>Nom / Prénom :</strong> <input type="text" id="nom"></div>
                    <div class="info"><strong>Date naissance :</strong> <input type="date" id="dateNaissance" min="1900-01-01"></div>
                    <div class="info"><strong>Numéro :</strong> <input type="text" id="numero"></div>
                    <div class="info"><strong>Poste :</strong> <select id="cmbPosition"> </select></div>
                    <div class="info"><strong>Nombre de titres :</strong><input type="text" id="nbrTitre"></div>
                    <div class="info"><strong>Nombre de buts :</strong> <input type="text" id="nbrBut"></div>
                    <div class="info"><strong>Salaire (million) :</strong> <input type="text" id="salaire"></div>
                    <div class="info"><strong>Photo :</strong> <select id="cmbPhoto"> </select></div>
                    <div class="info"><strong>Equipe :</strong> <select id="cmbEquipe"></select></div>
                </div>
            </div>
            <div class="buttonADD">
            <button id="retour">retour</button>
            <button id="valider">Valider</button>
            </div>
        </div>

