<!DOCTYPE html>
<div class="login">
    <label>Connecté en tant que :</label>
    <label id="user"></label>
    <button id="deconnecter">Déconnecter</button>
</div>

<div class="container">
    <div class="sidebar">
        <label for="equipes">Équipes</label>
        <select id="cmbEquipe"></select>
        <h3>Joueurs :</h3>
        <select id="cmbJoueur" size="15"></select>
    </div>
    <div class="content">
        <h2 id="nom"></h2>
        <div class="player-info">
            <img id="photo" alt="Image joueur">
            <div class="player-details">
                <div class="info"><strong>Date naissance :</strong> <input type="date" id="dateNaissance" min="1900-01-01"></div>
                <div class="info"><strong>Numéro :</strong> <input type="text" id="numero"></div>
                <div class="info"><strong>Poste :</strong> <select id="cmbPosition"> </select></div>
                <div class="info"><strong>Nombre de titres :</strong><input type="text" id="nbrTitre"></div>
                <div class="info"><strong>Nombre de buts :</strong> <input type="text" id="nbrBut"></div>
                <div class="info"><strong>Salaire (million) :</strong> <input type="text" id="salaire"></div>
            </div>
        </div>
        <button id="modifier">Modifier</button>
    </div>
</div>
<button id="ajouter">Ajouter</button>